/*
* LittleLink Button Styles
* https://littlelink.io
* Free to use under the MIT license
* http://www.opensource.org/licenses/mit-license.php
*/

/* Brand Button Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Only include brand-specific button styling here */
.button,
button {
	color: var(--button-text, #000000);
	background-color: var(--button-background, transparent);
	border: var(--button-border, none);
	transition: filter 0.2s ease, transform 0.2s ease;
}

/* Global Button Hover Effect
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button:hover,
button:hover {
	filter: brightness(90%);
	transform: translateY(-1px);
}

/* Button Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.icon {
	filter: var(--icon-filter, none);
}

/* Brand-Specific Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Default */
.button.button-default {
	--button-text: #ffffff;
	--button-background: #0C6069;
	--button-border: 1px solid #ffffff;
}

/* Resume */
.button.button-resume {
	color: #ffffff;
	background-color: #6A4C80;
}

.button.button-resume:hover,
.button.button-resume:focus {
	filter: brightness(90%);
}

/* GitHub */
.button-github {
	--button-text: #ffffff;
	--button-background: #000000;
	--button-border: 1px dotted #FFFFFF;
}

/* LinkedIn */
.button-linked {
	--button-text: #ffffff;
	--button-background: #2867b2;
}